body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
}

.box-container{
   bottom:10px
}

.box{
    background-color: red;
    padding: 70px;
    position: relative;
}

@keyframes mymove {
    10% {top: 200px;}
    100% {top: 0px;}
  }

.bottom-navbar{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}