@import "tailwindcss";

body{
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a2;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

@layer utilities {
 .otpInput{
    @apply border-2 outline-none size-20 p-2 text-xl font-semibold text-center rounded-2xl;
 }
}